


/* botones */
  .btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    letter-spacing: 3px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    font-size: 23px;
    font-style: 'Times New Roman';
    color: white;
    padding: 15px ;
    text-shadow: 0 0 5px gray, 0 0 15px gray, 0 0 30px gray;
  }
  .btn-neon:hover{
    background: rgba(255, 255, 255, 0.432);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.493), 0 0 40px
    rgba(255, 255, 255, 0.493), 0 0 80px rgba(255, 255, 255, 0.493);
    transition-delay: 1s;
    border-radius: 5px;
    font-size: 20px;
  }
  .btn-neon span{
    position: absolute;
    display: block;
  }
  #span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgba(255, 255, 255, 0.493))
  }
  .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
    cursor: pointer;
  }
  #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,rgba(255, 255, 255, 0.493))
  }
  .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
    cursor: pointer;
  }
  #span2{
    top: 100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,rgba(255, 255, 255, 0.493))
  }
  .btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
    cursor: pointer;
  }
  #span4{
    bottom: 100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,rgba(255, 255, 255, 0.493))
  }
  .btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
    cursor: pointer;
  }

/* botones */

/*body*/
*{
  box-sizing: border-box;
  padding: 0;               
}

body{
  background-image: url(../src/img/fondo-oscuro-abstracto-lineas-puntos-movimiento-conexion-red-visualizacion-renderizado-3d-big-data_710001-121.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  min-height: 100%; 
}
html{
  height: 100%;
}

.grid-container > *{
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
/*Navbar*/
.header{
  grid-area: header;
  animation-name: header;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.navbar{
  grid-area: navbar;
}
.sidebar{
  grid-area:sidebar;
  border: 2px solid greys;
  box-shadow: 0 0 white;
}
.main{
  grid-area: main;

}
.footer{
  grid-area: footer;
  text-align: center;
}
.fotoPrincipal{
  padding: 0;
  border: 0;
  margin: 0;
  align-items: center;
}

.container{
  border: 2px solid gray;
  padding: 10px;
  box-shadow: inset 0 0 10px white, 0 0 5px white;
  border-radius: 45px;
  color:white;
}
.Titulo1{
  font-family:'Times New Roman';
  margin: 0;
  text-shadow: 0 0 5px gray, 0 0 15px gray, 0 0 30px gray;
}
.Titulo2{
  font-family:'Times New Roman';
  margin: 0;
  text-shadow: 0 0 5px gray, 0 0 15px gray, 0 0 30px gray;
}

.Titulo3{
  font-family:'Times New Roman';
  margin: 0;
  text-shadow: 0 0 5px gray, 0 0 15px gray, 0 0 30px gray;
}

.Parrafo1{
  font-family:'Times New Roman';
  margin: 0;
  text-shadow: 0 0 5px yellow, 0 0 15px yellow, 0 0 30px yellow, 0 0 50px yellow;
  letter-spacing: 5px;
}

.Parpadeante1{
  animation: parpadear 2s infinite backwards;
}
.Parpadeante2{
  animation: parpadear 2.5s infinite backwards;
}
.Parpadeante3{
  animation: parpadear 1.5s infinite backwards;
}

.textoV{
  font-family:'Times New Roman';
  margin: 0;
  text-shadow: 0 0 5px gray, 0 0 15px gray, 0 0 30px gray, 0 0 50px gray;
}
.fotoPrincipal{
  border: 2px solid gray;
  padding: 10px;
  box-shadow: inset 0 0 10px white, 0 0 5px white;
  border-radius: 45px;
  color:white;
}
/* Body */
  /* modal */
  #Myname{
    color: black;
    font-size: 30px;
  }
  .modal-body{
    color: black;
    font-size: 20px;
  }
  .btnA{

    display: inline-block; /* Esto permite aplicar márgenes */
    font-size: 25px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    color: black;
    text-decoration: none;
    border-radius: 100px;
    font-family: 'Times New Roman';
    margin: 0;
    box-shadow: inset 0 0 15px white, 0 0 15px white;
    text-shadow: 0 0 5px gray, 0 0 15px gray;
    }
/** Cards*/
.card{
  text-align: center;
  margin-left: 4%;
  margin-bottom: 2%;
  background-color: #2627299f;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  
}

.card-img-top{
  margin-top: 4%;
  margin-left: 2%;
  border-radius: 4%;
  height: 300px;
  width: 250px;
}
.cards{
  position: absolute;
  top: 30%;
}
/*======================================Contacto=============================================================== */




.container {
  margin-top: 2rem;
}

form,
form label,
.form-control,
#btnEnviar {
  font-size: 1.6rem;
}

label {
  margin-left: 3rem;
}

.form-control {
  width: 90%;
  margin: auto;
}

form {
  padding-top: 5%;
}

#alertValidaciones,
#alertValidacionesTexto,
#alertValidacionesTexto strong {
  font-size: 1.6rem;
}

.icon__warning {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.icon__send {
  margin: 0 1rem 0 auto;
  font-size: 1.5rem;
}

.warning__text {
  margin-left: auto;
  font-size: 2rem;
}






/*================================media==========================================*/

/**telefono**/
.grid-container{
  color: rgba(240, 248, 255, 0.589);
    font-size: 40px;
    font-family: 'Times New Roman';
  display: grid;
  gap: 10px;
  grid-template-areas: 
  "navbar"
  "header"
  "sidebar"
  "main"
  "footer"
  ;

}
/**tablet**/
@media (min-width:600px)
{
  .grid-container{
      text-align: center;
      grid-template-columns: 200px auto;
      grid-template-rows: 100px 50px auto 100px;
      grid-template-areas: 
      "navbar navbar"
      "header header"
      "sidebar main"
      "footer footer"
      ;
  }
  .textoV  {
    color: rgba(240, 248, 255, 0.589);
    font-size: 40px;
    font-family: 'Times New Roman';
  }
  
}
/**desktop**/
@media (min-width:1000px){
  .grid-container{
      text-align: center;
      grid-template-columns: 200px auto;
      grid-template-rows: 100px 50px auto 100px;
      grid-template-areas: 
      "navbar navbar navbar"
      "header sidebar main"
      "header sidebar main"
      "header sidebar main"
      "header footer footer"
      ;
  }
  .textoV  {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: rgba(240, 248, 255, 0.589);
    font-size: 40px;
    font-family: 'Times New Roman';
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;

  }
  .img1{
    transform: rotate(90deg);
    padding: auto;
    background-color: aqua;
  }
  .footer{
    position:relative;
    top: 100px;
    right: 600px;
  }
}
/* keyframes */
@keyframes header{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
@keyframes parpadear{
  to{
    color: gray;
    text-shadow: none;
  }
}
