


/* botones */
  .btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    letter-spacing: 3px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    font-size: 23px;
    font-style: 'Times New Roman';
    color: white;
    padding: 15px ;
    text-shadow: 0 0 5px gray, 0 0 15px gray, 0 0 30px gray;
  }
  .btn-neon:hover{
    background: rgba(255, 255, 255, 0.432);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.493), 0 0 40px
    rgba(255, 255, 255, 0.493), 0 0 80px rgba(255, 255, 255, 0.493);
    transition-delay: 1s;
    border-radius: 5px;
    font-size: 20px;
  }
  .btn-neon span{
    position: absolute;
    display: block;
  }
  #span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgba(255, 255, 255, 0.493))
  }
  .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
    cursor: pointer;
  }
  #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,rgba(255, 255, 255, 0.493))
  }
  .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
    cursor: pointer;
  }
  #span2{
    top: 100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,rgba(255, 255, 255, 0.493))
  }
  .btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
    cursor: pointer;
  }
  #span4{
    bottom: 100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,rgba(255, 255, 255, 0.493))
  }
  .btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
    cursor: pointer;
  }

/* botones */

/*=========================================Body-Home============================================================*/
*{
  box-sizing: border-box;
  padding: 0;               
}

body{
  background-image: url(../src/img/fondo-oscuro-abstracto-lineas-puntos-movimiento-conexion-red-visualizacion-renderizado-3d-big-data_710001-121.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  min-height: 100%; 
}
html{
  height: 100%;
}

.grid-container > *{
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
/* ============ Efecto Maquina de Escribir ==========*/
span{
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 13ch;

  animation: typing 2s steps(25),
  blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {

  from{width: 0;}
}

@keyframes blink{
  50%{border-color: transparent}
}
/* ============ Efecto Maquina de Escribir ==========*/
/*======================================================Navbar===================================================*/
.header{
  grid-area: header;
  animation-name: header;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
 /* background-color:green */
 }
.navbar{
  grid-area: navbar;
 /* background-color: red; */
}
.sidebar{
  grid-area:sidebar;
  border: 2px solid greys;

  box-shadow: 0 0 white;
}
.main{
  grid-area: main;
 /* background-color: rgb(0, 89, 255);*/

}
.footer{
  grid-area: footer;
  text-align: center;
/*  background-color:blueviolet;*/
}

/*.container{
  border: 2px solid gray;
  padding: 10px;
  box-shadow:  0 0 8px white;
  color:white;
} */
.Titulo1{
  font-family:'Times New Roman';
  margin: 0;
  text-shadow: 0 0 5px white, 0 0 15px gray, 0 0 30px gray;
  text-align: left;
}
.Titulo2{
  font-family:'Times New Roman';
  margin: 0;
  text-shadow: 0 0 5px gray, 0 0 15px gray, 0 0 30px gray;
  text-align: left;
}

.Parrafo1{
  font-family:'Times New Roman';
  margin: 0;
  text-shadow: 0 0 5px yellow, 0 0 15px yellow, 0 0 30px yellow, 0 0 50px yellow;
  letter-spacing: 5px;
  text-align: right;
}

.Parpadeante1{
  animation: parpadear 2s infinite backwards;
}
.Parpadeante2{
  animation: parpadear 2.5s infinite backwards;
}
.Parpadeante3{
  animation: parpadear 1.5s infinite backwards;
}

.textoV{
  font-family:'Times New Roman';
  margin: 0;
  text-shadow: 0 0 5px gray, 0 0 15px gray, 0 0 30px gray, 0 0 50px gray;
}
.fotoPrincipal{
  border: 2px solid gray;
  
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.329), 0 0 15px rgba(255, 255, 255, 0.678);
  
  color:white;
}

.text-body-secondary {
  font-size: 10px;
  color: white;
}
.botonesF{
  border: none;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
}
.icons{
  align-items: center;

}
/* =======================================================================================================*/
  /*==========================================modal-home============================================================= */
  #Myname{
    color: black;
    font-size: 30px;
  }
  .modal-body{
    color: black;
    font-size: 20px;
  }
  .btnA{

    display: inline-block; 
    font-size: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    color: white;
    text-decoration: none;
    border-radius: 100px;
    font-family: 'Times New Roman';
    margin: 0;
    box-shadow: 0 0 8px white;
    
    }
    .btnA:hover{
      border: 2px solid black;
      background-color: rgba(0, 0, 0, 0);
      
      }
/*=========================================================BodyProyects========================================*/

.card-text{
  font-size: 20px;
  font-family: 'Times New Roman';
}
.btnS{
  display: inline-block; 
  font-size: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  color: white;
  text-decoration: none;
  border-radius: 100px;
  font-family: 'Times New Roman';
  margin: 0;
  box-shadow: 0 0 8px white;
}

.btnS:hover{
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0);
  
  }
  .card{
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    align-items: center;
    font-size: 15px;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid gray;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.329), 0 0 15px rgba(255, 255, 255, 0.678);
    
  }
/*================================================BodyContacto========================================================== */
.contenedor{
  background: linear-gradient(50deg, rgba(40,42,55,1),rgba(40,42,55,0,7)),
  url(../src/img/bg.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  width: 1000px;
  border-radius: 25px;

}
.titulo{
  font-family:'Times New Roman';
  margin: 0;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.486);
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255), 0 0 30px rgb(255, 253, 253);
}

form{
  display:flex;
  flex-direction: column;
  width: 50%;
}

label{
  font-size: 17px;
  color: #959AAB;
  margin-bottom: 10px;
}

input, textarea{
  display: inline-block; 
  font-size: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.555);
  border: 2px solid white;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  font-family: 'Times New Roman';
  margin: 0;
  box-shadow: 0 0 8px white;
}

.btn{
  display: inline-block; 
  font-size: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  color: white;
  text-decoration: none;
  border-radius: 100px;
  font-family: 'Times New Roman';
  margin: 0;
  box-shadow: 0 0 8px white;
}
.btn:hover{
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0);
}







/*================================media==========================================*/

/**telefono**/
.grid-container{
  color: rgba(240, 248, 255, 0.589);
    font-size: 40px;
    font-family: 'Times New Roman';
  display: grid;
  gap: 10px;
  grid-template-areas: 
  "navbar"
  "header"
  "sidebar"
  "main"
  "footer"
  ;

  

}
/**tablet**/
@media (min-width:600px)
{
  .grid-container{
      text-align: center;
      grid-template-columns: 200px auto;
      grid-template-rows: 100px 50px auto 100px;
      grid-template-areas: 
      "navbar navbar"
      "header header"
      "sidebar main"
      "footer footer"
      ;
  }
  .textoV  {
    color: rgba(240, 248, 255, 0.589);
    font-size: 40px;
    font-family: 'Times New Roman';
  }
  .card{
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    align-items: center;
    font-size: 15px;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid gray;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.329), 0 0 15px rgba(255, 255, 255, 0.678);
    
  }

  .form-content{
    width: 100%;
  }
  .form{
    width: 100%;
  }

}
/**desktop**/
@media (min-width:1000px){
  .grid-container{
      text-align: center;
      grid-template-columns: 200px auto;
      grid-template-rows: 100px 50px auto 100px;
      grid-template-areas: 
      "navbar navbar navbar"
      "header sidebar main"
      "header sidebar main"
      "header sidebar main"
      "header footer footer"
      ;
  }
  .textoV  {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: rgba(240, 248, 255, 0.589);
    font-size: 40px;
    font-family: 'Times New Roman';
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;

  }
  .img1{
    transform: rotate(90deg);
    padding: auto;
    background-color: aqua;
  }

  

}
/* keyframes */
@keyframes header{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
@keyframes parpadear{
  to{
    color: gray;
    text-shadow: none;
  }
}
